/*
 * Feel free to change name of colors if you need it
 * Feel free to add new colors if you need it
 */
:root {
  --bg-color--dark: #0b192f;
  --bg-color--header: #024161;
  --link: #fff;
  --link--hover: #1f52a4;
  --bg-footer-color: #024161;
}

.post-1 {
  background: #9d27b0;
}

.post-2 {
  background: #9bb800;
}

.post-3 {
  background: #ed5120;
}

.post-4 {
  background: #9d27b0;
}

.post-5 {
  background: #2d95bb;
}

body {
  font-family: roboto;
  background-color: #0b192f;
}

.container {
  width: 80%;
  margin: auto;
}

.margin {
  margin-bottom: 1%;
}

.drop-menu {
  display: none;
  color: #fff;
  font-size: 2em;
}

h1,
.header h2,
.post-0-wrapper p,
.text-content p,
.post-5 p,
.footer-first p,
.footer-second p {
  color: #fff;
  font-weight: 100;
}

h1 {
  font-size: 50px;
  line-height: 1;
}

p {
  line-height: 1.6;
}

.header {
  background-color: #024161;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 3%;
}

.logo h2 {
  font-size: 2em;
}

.logo h2 span {
  color: deeppink;
}

.navigation {
  display: flex;
  padding: 0;
  width: 40%
}

.nav-item {
  width: 20%;
  display: flex;
  justify-content: center;
}

.navigation .nav-item a {
  color: #fff;
  height: 100px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation .nav-item:hover {
  background-color: rgba(62, 118, 223, 0.658);
  transition-duration: 1s;
  cursor: pointer;
}

.container-posts {
  display: flex;
  justify-content: space-between;
}

.post-0 {
  background: url(/img/post0.jpg) bottom no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  height: 45vh;
}

.post-0-wrapper {
  padding: 7% 35% 2% 5%;
}

.post-0-wrapper p,
.text-content p,
.post-5 p,
.news-txt p {
  font-size: 14px;
}

.posts {
  width: 73%;
}

.post {
  display: flex;
}

.post-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
}

.post-img:hover,
.text-wrapper:hover {
  opacity: 0.6;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.post-1 .post-img {
  background-image: url("/img/post1.jpg");
}

.post-2 .post-img {
  background-image: url("/img/post2.jpg");
}

.post-3 .post-img {
  background-image: url("/img/post3.jpg");
}

.post-4 .post-img {
  background-image: url("/img/post4.jpg");
}

.post-5 {
  display: flex;
  flex-direction: column;
  padding: 5%;
  position: relative;
}

.post-5 .time-data {
  position: absolute;
  right: 1%;
  bottom: 50%;
}

.post:nth-child(odd) {
  flex-direction: row;
}

.post:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right;
}

.text-wrapper {
  width: 50%;
  position: relative;
}

.text-content {
  padding: 10%;
}

.text-content h1,
.post-5 h1 {
  margin: 0;
}

.time-data {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
  opacity: 0.3;
  color: #fff;
}

.day {
  font-size: 4em;
}

.month {
  font-size: 2em;
}

.post:nth-child(odd) .time-data {
  right: 3%;
  top: 0;
}

.post:nth-child(even) .time-data {
  left: 3%;
  top: 0;
}

.aside-block {
  width: 25%;
}

.news {
  background-color: #fff;
}

.news-txt {
  padding: 10%;
}

.news-txt h2 {
  font-weight: 300;
  font-size: 2em;
}

.news-img {
  height: 20vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-1 .news-img {
  background-image: url(/img/news1.jpg);
}

.news-2 .news-img {
  background-image: url(/img/news2.jpg);
}

footer {
  background-color: #024161;
  padding: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-first p,
.footer-second p {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  h1 {
    margin: 0;
  }

  .container {
    width: 100%;
  }

  .navigation {
    display: none;
  }

  .header-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
  }

  .drop-menu {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 5%;
  }

  .logo {
    text-align: center;
  }

  .post-0 {
    padding: 20% 5% 0 5%;
  }

  .post-0-wrapper {
    width: 100%;
    padding: 0 5% 5% 5%;
  }


  .post:nth-child(even) {
    text-align: left;
  }

  .post-1 {
    flex-direction: column;
  }

  .post-img {
    height: 35vh;
    width: 100%;
  }

  h1 {
    font-size: 3em;
  }

  .text-wrapper {
    width: 100%;
    height: unset;
  }

  .text-content {
    padding: 5% 7%;
  }

  .post:nth-child(odd),
  .post:nth-child(even) {
    flex-direction: column;
  }

  .post:nth-child(even) {
    text-align: left;
  }

  .post:nth-child(even) .time-data {
    left: 80%;
    top: 0;
  }

  .post-5 {
    height: 45vh;
    padding: 5% 7% 0 7%;
  }

  .post-5 .time-data {
    top: 65%;
    right: 43%;
  }

  footer {
    flex-direction: column;
    text-align: center;
  }

  .footer-first p,
  .footer-second p {
    margin: 0;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 460px) {

  .container-posts {
    flex-direction: column;
    justify-content: unset;
  }

  .posts {
    width: 100%;
  }

  .time-data .day {
    font-size: 50px;
    font-weight: 100;
  }

  .time-data .month {
    font-size: 25px;
    font-weight: 100;
  }

  h1 {
    font-size: 2.5em;
  }

  .aside-block {
    width: 100%;
  }

  .news-txt {
    padding: 0 7% 5% 7%;
  }

  .news {
    margin-bottom: 7%;
  }

  .news-img {
    height: 30vh;
  }

  footer {
    padding: 7%;
  }

}