* {
  margin: 0;
  font-family: Source Sans Pro; }

body {
  width: 1920px; }

.header {
  background: url(../img/m-h-night.jpg) center no-repeat;
  background-size: cover;
  border: transparent 0px solid;
  border-bottom-right-radius: 40%;
  width: 1920;
  height: 720px;
  color: #2c2f3a; }

.header-wrap {
  padding: 18px 193px;
  width: 658px; }
  .header-wrap a {
    color: white;
    font-weight: bold;
    padding-left: 154px; }
  .header-wrap .header_button {
    width: 142px;
    height: 48px;
    background-color: #699900;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    height: 45px;
    width: 45px; }
  .landing-logo p {
    padding: 0 0 0 18px;
    font-weight: bold;
    font-size: 24px; }
  .landing-logo span {
    display: block;
    font-weight: normal;
    font-size: 8px;
    text-align: center; }

.header_heading {
  padding-top: 87px;
  font-size: 75px;
  font-weight: bold;
  line-height: 1; }

.header_text {
  padding-top: 45px;
  line-height: 1.5;
  padding-bottom: 68px;
  white-space: pre-line; }

.section .section_text {
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
  font-weight: 300; }

.section_card {
  display: flex;
  background-color: #21232e;
  margin: 20px auto;
  width: 1115px;
  height: 326px;
  border-radius: 5px; }
  .section_card img {
    width: 430px;
    height: 286px;
    align-self: center;
    border-radius: 5px;
    margin-left: 20px; }
  .section_card .section_card_heading {
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
    font-size: 20px; }
  .section_card p {
    color: white;
    line-height: 1.5;
    padding-top: 40px;
    text-align: justify; }
  .section_card .section_card_right_container {
    width: 470px;
    padding: 0 90px; }
  .section_card .section_link {
    display: block;
    text-align: center;
    color: white; }

.section_banner {
  background: linear-gradient(90deg, #66950a 0%, #2f5dd0 100%);
  width: 1198px;
  display: flex;
  margin: 120px 360px -72px 360px;
  height: 144px;
  border-radius: 5px;
  z-index: 1;
  position: relative;
  color: #2c2f3a; }
  .section_banner .section_banner_text_wrap {
    padding-left: 160px;
    padding-top: 20px; }
    .section_banner .section_banner_text_wrap .section_banner_heading {
      font-size: 30px;
      font-weight: bold;
      padding-top: 3px; }
    .section_banner .section_banner_text_wrap .section_banner_text {
      padding-top: 15px;
      color: #c0c3ce; }
  .section_banner .section_banner_button {
    width: 142px;
    height: 48px;
    background-color: #699900;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    align-self: center;
    position: relative;
    margin-left: 325px; }

footer {
  background-color: #21232e;
  display: flex;
  height: 243px;
  z-index: 2; }
