* {
    margin: $m0;
    font-family: Source Sans Pro;
}

@mixin button-style {
    width: 142px;
    height: 48px;
    background-color: #699900;
    color: white;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

body {
    width: 1920px;
}


.header {
    background: $headerBackgroundImg;
    background-size: $headerBackgroundSize;
    border: transparent 0px solid;
    border-bottom-right-radius: 40%;
    width: 1920;
    height: 720px;
    color: $HeadingsColor;
}

.header-wrap {
    a {
        color: white;
        font-weight: bold;
        padding-left: 154px;
    }

    .header_button {
        @include button-style;
    }

    padding: $padding;
    width: 658px;
}


.landing-logo {
    display: flex;

    img {
        height: 45px;
        width: 45px;
    }


    p {
        padding: 0 0 0 18px;
        font-weight: bold;
        font-size: 24px;
    }

    span {
        display: block;
        font-weight: normal;
        font-size: 8px;
        text-align: center;
    }
}

.header_heading {
    padding-top: 87px;
    font-size: 75px;
    font-weight: bold;
    line-height: 1;
}

.header_text {
    padding-top: 45px;
    line-height: 1.5;
    padding-bottom: 68px;
    white-space: pre-line;
}


.section {
    .section_text {
        text-align: center;
        font-size: 50px;
        padding-top: 50px;
        font-weight: 300;
    }
}

.section_card {
    display: flex;
    background-color: $Sectfootbcolor;
    margin: 20px auto;
    width: 1115px;
    height: 326px;
    border-radius: $borderRadius;


    img {
        width: 430px;
        height: 286px;
        align-self: center;
        border-radius: $borderRadius;
        margin-left: 20px;
    }

    .section_card_heading {
        text-align: center;
        padding-top: 70px;
        font-weight: bold;
        font-size: 20px;
    }

    p {
        color: rgb(255, 255, 255);
        line-height: 1.5;
        padding-top: 40px;
        text-align: justify;
    }

    .section_card_right_container {
        width: 470px;
        padding: 0 90px;
    }

    .section_link {

        display: block;
        text-align: center;
        color: white;
    }
}

.section_banner {
    background: linear-gradient(90deg, rgba(102, 149, 10, 1) 0%, rgba(47, 93, 208, 1) 100%);
    width: 1198px;
    display: flex;
    margin: 120px 360px -72px 360px;
    height: 144px;
    border-radius: $borderRadius;
    z-index: 1;
    position: relative;
    color: $HeadingsColor;


    .section_banner_text_wrap {
        padding-left: 160px;
        padding-top: 20px;

        .section_banner_heading {
            font-size: 30px;
            font-weight: bold;
            padding-top: 3px;

        }

        .section_banner_text {
            padding-top: 15px;
            color: #c0c3ce;

        }
    }

    .section_banner_button {
        @include button-style;
        align-self: center;
        position: relative;
        margin-left: 325px;
    }
}



footer {
    background-color: $Sectfootbcolor;
    display: flex;
    height: 243px;
    // margin-top: 210px;
    z-index: 2;
}