$m0: 0;
$bodyWidth: 1920px;
$bodyBg: #ffffff;

$paddingLeftLogo: 193px;

$headerBgImg: url(../img/m-h-day.jpg) center no-repeat;
$headerBgSz: cover;

$borderRadius: 5px;
$regularTextColor: #c0c3ce;
$markColor: #14a0c7;

$Sectfootbcolor:rgb(33, 35, 46);
$headingsColor: rgba(44, 47, 58, 1);
$sectHeadingColor: #2c2f3c;

$btnBgColor: #699900;

$bannerBg: linear-gradient(90deg, #66950a 0%, #2f5dd0 100%);

$whiteFont: #fff;