$m0: 0;
$bodyWidth: 1920px;
$bodyBg: #21232e;

$paddingLeftLogo: 193px;

$headerBgImg: url(../img/m-h-night.jpg) center no-repeat;
$headerBgSz: cover;

$borderRadius: 5px;
$regularTextColor: #c0c3ce;
$markColor: #ff4e33;

$Sectfootbcolor:#3b3f50;
$headingsColor: #ffffff;
$sectHeadingColor: #ffffff;

$btnBgColor: #e3ac00;

$bannerBg: linear-gradient(90deg, #dfa505 0%, #96324f 100%);

$whiteFont: #fff;