//unset
$m0: 0;
$bodyWidth: 1920px;
//body
$paddingLeftLogo: 193px;
//Header
$headerBgImg: url(../img/m-h-day.jpg) center no-repeat;
$headerBgSz: cover;








$borderRadius: 5px;
$regularTextColor: #c0c3ce;
$markColor: #14a0c7;




$Sectfootbcolor:rgb(33, 35, 46);
$headingsColor: rgba(44, 47, 58, 1);




$btnBgColor: #699900;


$whiteFont: #fff;



// $colors: (regularLight: $regularTextColor,
//     blueRed: $markColor,
//     greenYellow: $btnBgColor,
//     greyShades:$Sectfootbcolor,
//     greyWhite: $HeadingsColor,
// )