//unset
$m0: 0;
//body
$padding: 18px 193px;
//Header
$headerBackgroundImg: url(../img/m-h-day.jpg) center no-repeat;
$headerBackgroundSize: cover;
$Sectfootbcolor:rgb(33, 35, 46);
$borderRadius: 5px;
$HeadingsColor: rgba(44, 47, 58, 1);